@media(min-width: 320px){
    header{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
    .project1{
        grid-column: 1/2;
    }
    .project2{
        grid-column: 2/3;
    }
    .project3{
        grid-column: 3/4;
    }
}
@media(min-width:992px){
    header{
        display: grid;
        width:100%;
        grid-template-rows: repeat(3, 1fr);
    }
    .project1{
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .project2{
        grid-row: 2/3;
    }
    .project3{
        grid-row: 3/4;
        grid-column: 2/3;
    }
}